.courseNavigation {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.courseNavigationLink:hover {
    border-bottom: 3.5px solid #C22C2D;
}

.activeCourseNavigation {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.activeCourseNavigationLink {
    border-bottom: 3.5px solid #C22C2D;
}

.titleCard {
    color: #656565;
}

.headerCard {
    font-size: 17px;
}

.lessonIcons {
    width: 40px;
    
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    color: initial;
}