.titlecard {
    color: #656565;
}

.Activity-info {
    color: #979797;
    padding-left: 15px;
}

.coursetitle {
    font-size: 14px;
    font-weight: 500;
}

.coursecontent {
    color: #979797;
    font-size: 12px;
}

.cardsize {
    height: 325px;
    width: 215px;
    border-radius: 15px;
}

.coursestatus {
    color: #979797;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: initial;
}

.card a:hover {
    height: 385px;
    width: 216px;
    border-radius: 15px;
}