body {
    background-color: #F8F8F8;
}

.usericon {
    background-color: pink;
    border-radius: 50px;
    margin-left: 35px;
}

.username {
    font-size: 18px;
    text-align: center;
}

.spacedsideicon {
    padding-top: 100px;
}

#versionc {
    color: #B3B3B3;
}